* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
}
h1{
    padding: 3vh 0;
}
.input-group {
    position: relative;
}
input {
    border: solid 1.5px #9e9e9e;
    border-radius: 2%;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #000000;
    caret-color: #7a9adb;
    transition: 150ms cubic-bezier(.4, 0, .2, 1);
}
label{
    position: absolute;
    left: 16px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(.4, 0, .2, 1);
}
input:focus {
    outline: none;
    border: 1.5px solid #1a73e8;
}
input:focus ~ label {
    transform: translateY(-50%) scale(.8);
    background-color: #020e26;
    padding: 0 .2rem;
    color: #2196f3;
}