* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle:hover {
    animation: rotateHue 2s alternate infinite;
}
@keyframes rotateHue {
    to {
        filter: hue-rotate(360deg);
    }
}