*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1080px;
    background-color: black;
}
.reflexo {
    padding: 0 3vw;
}
.reflexo > * {
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
}
.reflexo > :last-child {
    transform: rotateX(180deg) translateY(28px);
    mask-image: linear-gradient( transparent 50%, white 90%);
    -webkit-mask-image: linear-gradient(transparent 50%, white 90%);
    opacity: .72;
}