* {
    margin: 0;
    padding: 0;
}
body {
    background: #09143a;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
#container {
    display: flex;
    justify-content: center;
    background: #09143a;
    color: #fff;
    font-size: 15vmin;
    font-weight: bold;
    border: 1px solid #fff;
    margin: auto;
    box-shadow: 17px 17px 63px #050b21,
        -17px 63px #0d1d53;
    padding: .3em;
}
#container div {
    margin: 10px;
    position: relative;
}
.secs {
    transform-origin: bottom;
    animation: rotate 1s linear infinite;
}
#container div::before {
    content: attr(data-for);
    font-size: 5vmin;
    font-weight: lighter;
    position: absolute;
    bottom: -10px;
    text-transform: capitalize;
    left: 50%;
    transform: translateX(-50%);
}
#container div::after {
    content: attr(data-active);
    animation: rotate2 1s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
}
@keyframes rotate {
    10% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(1);
    }
}
@keyframes rotate2 {
    to {
        transform: rotateX('-100deg');
        opacity: .5;
    }
}
h1 {
    color: #ffff00;
    font-size: 7vmin;
    text-transform: capitalize;
    padding: 12vh 0;
}